* {
  font-family: 'Helvetica Neue', sans-serif;
  color: #444444; }

h1 {
  font-size: 64px; }

h3 {
  font-size: 24px; }

p {
  font-weight: 300;
  font-size: 18px;
  line-height: 1.6; }
  @media (max-width: 450px) {
    p {
      font-size: 16px; } }

a {
  color: #444444;
  font-family: 'Helvetica Neue', sans-serif;
  text-decoration: none; }

#home__intro {
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  width: 100%;
  height: 100vh;
  padding: 60px;
  padding-left: 120px;
  background-color: #C4D4E0;
  list-style: none;
  z-index: -1;
  display: flex;
  flex-flow: column;
  justify-content: center; }
  @media (max-width: 991px) {
    #home__intro {
      padding: 30px; } }
  #home__intro li {
    font-size: 180px;
    color: white;
    font-weight: bold;
    line-height: 150px;
    letter-spacing: -5px; }
    @media (max-width: 991px) {
      #home__intro li {
        font-size: 90px;
        line-height: 85px; } }
    @media (max-width: 450px) {
      #home__intro li {
        font-size: 90px;
        line-height: 85px; } }

#home__projects {
  position: relative;
  top: 100vh;
  padding: 0; }

* {
  font-family: 'Helvetica Neue', sans-serif;
  color: #444444; }

h1 {
  font-size: 64px; }

h3 {
  font-size: 24px; }

p {
  font-weight: 300;
  font-size: 18px;
  line-height: 1.6; }
  @media (max-width: 450px) {
    p {
      font-size: 16px; } }

a {
  color: #444444;
  font-family: 'Helvetica Neue', sans-serif;
  text-decoration: none; }

header {
  left: 0;
  top: 0;
  box-sizing: border-box;
  position: fixed;
  width: 100vw;
  padding: 60px;
  display: grid;
  grid-template-columns: 10% 90%;
  z-index: 2; }
  @media (max-width: 991px) {
    header {
      padding: 20px 30px; } }
  @media (max-width: 768px) {
    header {
      background-color: rgba(255, 255, 255, 0.8); } }
  header .logo {
    grid-column-start: 1;
    grid-column-end: 2;
    width: 30px; }
    header .logo:hover {
      cursor: pointer; }
  header .nav {
    grid-column-start: 2;
    grid-column-end: last-line;
    text-align: right; }
    header .nav .menu {
      z-index: 5; }
      header .nav .menu img {
        width: 25px;
        transition: all .3s ease; }
    header .nav .menu--extended {
      position: absolute;
      top: -100vh;
      left: 0;
      width: 100vw;
      height: 100vh;
      padding: 60px;
      padding-left: 120px;
      background: #EECF8A;
      display: flex;
      flex-flow: column;
      align-items: flex-start;
      justify-content: center;
      z-index: -1;
      transition: all .3s ease; }
      @media (max-width: 991px) {
        header .nav .menu--extended {
          padding: 30px; } }
      header .nav .menu--extended .menu__item {
        font-size: 180px;
        font-weight: bold;
        line-height: 170px;
        letter-spacing: -5px; }
        @media (max-width: 768px) {
          header .nav .menu--extended .menu__item {
            font-size: 90px;
            line-height: 80px; } }
        header .nav .menu--extended .menu__item a {
          color: white; }
    header .nav .open {
      top: 0; }
    header .nav .rotate {
      transform: rotate(45deg); }
    header .nav .selected img {
      opacity: 1; }

projects-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: flex-start;
  padding: 0 170px 0 100px;
  margin-bottom: 40px; }
  @media (max-width: 991px) {
    projects-list {
      padding: 30px 60px;
      margin-top: 40px; } }
  @media (max-width: 450px) {
    projects-list {
      padding: 0;
      margin-top: 40px; } }
  projects-list item {
    position: relative;
    width: 31%;
    margin-bottom: 2%; }
    @media (max-width: 991px) {
      projects-list item {
        width: 49%; } }
    projects-list item img {
      margin: 0;
      width: 100%;
      transition: margin .3s ease; }
    projects-list item .item__teaser-caption {
      position: absolute;
      width: 90%;
      top: 0;
      left: 0;
      z-index: 1;
      opacity: 0;
      transition: all .3s ease; }
      @media (max-width: 768px) {
        projects-list item .item__teaser-caption {
          display: none; } }
      projects-list item .item__teaser-caption h2 {
        font-size: 44px;
        line-height: 1;
        color: #444444;
        margin-bottom: 0; }
      projects-list item .item__teaser-caption p {
        color: #444444; }
    projects-list item .item__white-overlay {
      background-color: rgba(255, 255, 255, 0.7);
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 102%;
      z-index: 0;
      opacity: 0;
      transition: all .3s; }
      @media (max-width: 768px) {
        projects-list item .item__white-overlay {
          display: none; } }
    projects-list item .item__under-layer {
      position: absolute;
      left: 0;
      top: 0;
      z-index: -1;
      opacity: 0;
      transition: opacity .3s ease; }
      @media (max-width: 768px) {
        projects-list item .item__under-layer {
          display: none; } }
  projects-list item:hover {
    cursor: pointer; }
  projects-list item:hover .item__teaser-caption {
    top: -10px;
    left: -20px;
    opacity: 1; }
    @media (max-width: 450px) {
      projects-list item:hover .item__teaser-caption {
        top: 0;
        left: 0;
        opacity: 0; } }
  projects-list item:hover .item__white-overlay {
    opacity: 1;
    top: -10px;
    left: -10px; }
    @media (max-width: 450px) {
      projects-list item:hover .item__white-overlay {
        top: 0;
        left: 0;
        opacity: 0; } }
  projects-list item:hover img {
    margin: -10px 0 0 -10px; }
    @media (max-width: 450px) {
      projects-list item:hover img {
        margin: 0; } }
  projects-list item:hover .item__under-layer {
    left: 10px;
    top: 10px;
    opacity: 1; }
    @media (max-width: 450px) {
      projects-list item:hover .item__under-layer {
        top: 0;
        left: 0;
        opacity: 0; } }

* {
  font-family: 'Helvetica Neue', sans-serif;
  color: #444444; }

h1 {
  font-size: 64px; }

h3 {
  font-size: 24px; }

p {
  font-weight: 300;
  font-size: 18px;
  line-height: 1.6; }
  @media (max-width: 450px) {
    p {
      font-size: 16px; } }

a {
  color: #444444;
  font-family: 'Helvetica Neue', sans-serif;
  text-decoration: none; }

detail {
  display: block;
  padding: 0 70px; }
  @media (max-width: 991px) {
    detail {
      padding: 0; } }
  detail .detail__intro {
    position: fixed;
    height: 100vh;
    width: 100vw;
    left: 0;
    top: 0;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    background-color: white; }
    detail .detail__intro h1 {
      margin-bottom: 30px; }
      @media (max-width: 450px) {
        detail .detail__intro h1 {
          font-size: 30px; } }
    detail .detail__intro .divider {
      margin: 0;
      margin-bottom: 30px; }
      @media (max-width: 450px) {
        detail .detail__intro .divider {
          margin-bottom: 10px; } }
    detail .detail__intro p {
      width: 55%;
      text-align: center; }
      @media (max-width: 450px) {
        detail .detail__intro p {
          font-size: 14px;
          width: 85%; } }
    detail .detail__intro .hover-line {
      height: 2px;
      width: 0px;
      background-color: #444444;
      margin: 0 auto;
      transform-origin: center;
      transition: all .3s ease; }
    detail .detail__intro a:hover .hover-line {
      width: 50px; }
  detail .detail__content {
    position: relative;
    margin-top: 75vh;
    background-color: rgba(255, 255, 255, 0.9);
    padding-bottom: 50px; }
    detail .detail__content .detail__item--text {
      margin: 30px auto;
      width: 70%; }
      detail .detail__content .detail__item--text h3 {
        margin-bottom: 0;
        text-transform: uppercase;
        font-size: 16px;
        letter-spacing: 1px; }
    detail .detail__content img {
      width: 100%; }
    detail .detail__content .autoWidth, detail .detail__content .gif {
      display: block;
      margin: auto;
      width: 50%; }
      @media (max-width: 450px) {
        detail .detail__content .autoWidth, detail .detail__content .gif {
          width: 90%;
          margin: 30px auto; } }
    detail .detail__content video {
      display: block;
      width: 100%;
      margin: 50px auto; }
      @media (max-width: 450px) {
        detail .detail__content video {
          width: 85%;
          margin: 30px auto; } }
  detail .detail__nav {
    background-color: rgba(255, 255, 255, 0.9);
    position: relative;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding-top: 50px; }
    @media (max-width: 991px) {
      detail .detail__nav {
        padding-bottom: 60px; } }
    detail .detail__nav .detail__nav--btn {
      position: relative; }
      @media (max-width: 991px) {
        detail .detail__nav .detail__nav--btn {
          background-color: #FFEFE8;
          padding: 3px 20px;
          width: 300px; } }
      @media (max-width: 450px) {
        detail .detail__nav .detail__nav--btn {
          background-color: transparent;
          width: 49%;
          position: relative;
          padding: 0; } }
      detail .detail__nav .detail__nav--btn span {
        font-weight: normal;
        font-size: 14px;
        position: relative;
        z-index: 1; }
        @media (max-width: 450px) {
          detail .detail__nav .detail__nav--btn span {
            position: relative;
            padding: 10px 50px;
            text-transform: uppercase;
            text-align: center;
            background-color: #FFEFE8;
            letter-spacing: 1px;
            font-weight: 500; } }
      detail .detail__nav .detail__nav--btn p {
        font-size: 24px;
        width: 300px;
        font-weight: bold;
        margin: 0;
        position: relative;
        z-index: 1; }
        @media (max-width: 991px) {
          detail .detail__nav .detail__nav--btn p {
            width: initial; } }
        @media (max-width: 450px) {
          detail .detail__nav .detail__nav--btn p {
            display: none; } }
    detail .detail__nav .detail__nav--btn--prev .detail__btn--overlay {
      background-color: #FFEFE8;
      width: 0;
      height: 110%;
      position: absolute;
      top: 0;
      transition: all .3s ease; }
      @media (max-width: 450px) {
        detail .detail__nav .detail__nav--btn--prev .detail__btn--overlay {
          display: none; } }
    detail .detail__nav .detail__nav--btn--prev p, detail .detail__nav .detail__nav--btn--prev span {
      margin-left: 0;
      transition: all .3s ease; }
    detail .detail__nav .detail__nav--btn--prev:hover .detail__btn--overlay {
      width: 310px; }
      @media (max-width: 450px) {
        detail .detail__nav .detail__nav--btn--prev:hover .detail__btn--overlay {
          display: none; } }
    detail .detail__nav .detail__nav--btn--prev:hover p, detail .detail__nav .detail__nav--btn--prev:hover span {
      margin-left: -25px; }
    detail .detail__nav .detail__nav--btn--next {
      text-align: right; }
      detail .detail__nav .detail__nav--btn--next .detail__btn--overlay {
        background-color: #FFEFE8;
        width: 0;
        height: 110%;
        position: absolute;
        top: 0;
        transition: all .3s ease; }
        @media (max-width: 450px) {
          detail .detail__nav .detail__nav--btn--next .detail__btn--overlay {
            display: none; } }
      detail .detail__nav .detail__nav--btn--next p, detail .detail__nav .detail__nav--btn--next span {
        margin-right: 0;
        transition: all .3s ease; }
      detail .detail__nav .detail__nav--btn--next:hover .detail__btn--overlay {
        width: 100%; }
        @media (max-width: 450px) {
          detail .detail__nav .detail__nav--btn--next:hover .detail__btn--overlay {
            display: none; } }
      detail .detail__nav .detail__nav--btn--next:hover p, detail .detail__nav .detail__nav--btn--next:hover span {
        margin-right: -25px; }

about {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-start;
  padding: 50px 140px 0 70px; }
  @media (max-width: 768px) {
    about {
      margin-top: 30px;
      padding: 0; } }
  about .about__img-container {
    position: fixed;
    background-image: url("/assets/foto-home.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 80%;
    height: 550px; }
    @media (max-width: 991px) {
      about .about__img-container {
        position: relative;
        width: 100%; } }
    @media (max-width: 768px) {
      about .about__img-container {
        background-position: 80%; } }
  about article#about__container {
    position: relative;
    top: 0;
    left: -100%;
    width: 45%;
    background-color: white;
    z-index: 0;
    transition: all .5s ease; }
    @media (max-width: 991px) {
      about article#about__container {
        left: 0 !important;
        z-index: 0; } }
    @media (max-width: 768px) {
      about article#about__container {
        top: 50px;
        width: 100%; } }
    about article#about__container h1 {
      font-size: 80px;
      margin: 0; }
      @media (max-width: 768px) {
        about article#about__container h1 {
          font-size: 60px; } }
    about article#about__container .about__content {
      display: flex;
      flex-flow: column;
      align-items: flex-start;
      width: 90%;
      z-index: 1; }
      @media (max-width: 768px) {
        about article#about__container .about__content {
          grid-template-columns: 100%;
          width: 101%;
          padding-bottom: 30px; } }
      about article#about__container .about__content .about__item {
        margin: 0 0 30px; }
        about article#about__container .about__content .about__item h3 {
          text-transform: uppercase;
          font-size: 14px;
          letter-spacing: 3px;
          margin-bottom: 5px; }
        about article#about__container .about__content .about__item p {
          margin: 0;
          font-size: 16px; }
          about article#about__container .about__content .about__item p a {
            font-size: 16px; }
        about article#about__container .about__content .about__item .about__container--random img {
          width: 100px; }
        about article#about__container .about__content .about__item ul.about__skills {
          list-style: none;
          padding: 0;
          display: flex;
          flex-flow: row wrap;
          justify-content: flex-start;
          align-items: flex-start; }
          about article#about__container .about__content .about__item ul.about__skills li {
            position: relative;
            margin: 0;
            margin-right: 10px;
            display: flex;
            justify-content: center;
            align-items: center; }
            about article#about__container .about__content .about__item ul.about__skills li:first-child {
              margin-left: 0; }
            about article#about__container .about__content .about__item ul.about__skills li .about__skills--overlay {
              position: absolute;
              background-color: white;
              opacity: 0;
              width: 100%;
              height: 60px;
              border-radius: 50%;
              top: 0;
              display: flex;
              justify-content: center;
              align-items: center;
              transition: all 0.4s ease; }
              about article#about__container .about__content .about__item ul.about__skills li .about__skills--overlay .about__skill__name {
                font-size: 13px;
                text-align: center;
                font-weight: 500; }
              about article#about__container .about__content .about__item ul.about__skills li .about__skills--overlay:hover {
                opacity: 0.9; }
            about article#about__container .about__content .about__item ul.about__skills li .about__skill__level {
              position: relative; }
              about article#about__container .about__content .about__item ul.about__skills li .about__skill__level img {
                width: 30px;
                position: absolute;
                top: 20%; }

.u-absoluteCenter {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto; }

.u-flexCenter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.u-offscreen {
  position: absolute;
  left: -999em; }

.about__skill__level {
  position: absolute;
  top: 0;
  left: 0;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.about__skill__level :first-child {
  margin-bottom: 20px; }

.progress {
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg); }

.progress__meter,
.progress__value {
  fill: none; }

.progress__meter {
  stroke: transparent; }

.progress__value {
  stroke: #444444;
  stroke-linecap: round; }

/************ AFTER setTimeout THE CONTENT SLIDES UP *************/
.in {
  left: 0 !important;
  z-index: 0; }

/************ END *************/
.btn--download {
  position: fixed;
  bottom: 60px;
  right: 60px;
  padding: 13px 85px 13px 30px;
  background-color: white;
  border: 2px solid #444444;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: bold;
  transition: all .3s ease; }
  @media (max-width: 768px) {
    .btn--download {
      bottom: 20px;
      right: 20px; } }
  .btn--download .btn--download-icon {
    height: 100%;
    background: white;
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    border-left: 2px solid #444444;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .3s ease; }
  .btn--download:hover .btn--download-icon {
    background: #F5C3B6; }

* {
  box-sizing: border-box; }

body {
  margin: 0; }

app {
  display: block; }

section {
  padding: 60px; }
  @media (max-width: 991px) {
    section {
      padding: 60px 30px; } }

.contact-me {
  position: fixed;
  bottom: 60px;
  right: 60px;
  z-index: 2;
  transition: transform .3s ease; }
  @media (max-width: 991px) {
    .contact-me {
      bottom: 30px;
      right: 30px; } }
  .contact-me img {
    width: 35px; }
  .contact-me:hover {
    transform: rotate(-30deg); }

.divider {
  display: block;
  margin: auto;
  margin-bottom: 60px; }

.disappear {
  display: none; }

.transparent {
  background-color: transparent; }
