about {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0 140px 0 70px;
  @media(max-width: $screen-sm-max) {
    margin-top: 30px;
    padding: 0;
  }

  .about__img-container {
    position: fixed;
    background-image: url('/assets/foto-home.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 74%;
    height: 550px;
    z-index: -2;
    @media(max-width: $screen-md-max) {
      width: 93vw;
      height: 80vh;
    }
    @media(max-width: $screen-xs-max) {
      width: 84vw;
      height: 40vh;
    }
  }

  article#about__container {
    position: relative;
    top: 63vh;
    padding-right: 100px;
    padding-top: 30px;
    z-index: -1;
    transition: all .5s ease;

    @media(max-width: $screen-sm-max) {
      padding-right: 0;
      top: 77vh;
    }

      h1 {
        font-size: 100px;
        margin: 30px 0;
        margin-left: -70px;
        @media(max-width: $screen-sm-max) {
          font-size: 60px;
          margin-left: -15px;
        }
      }

      .about__content {
        display: grid;
        grid-template-columns: 60% 40%;
        grid-template-rows: 100%;
        grid-column-gap: 50px;
        background-color: white;
        width: 110%;
        @media(max-width: $screen-sm-max) {
          grid-template-columns: 100%;
          width: 101%;
          padding-bottom: 30px;
        }

      .about__item {
        margin: 30px 0;
        @media(max-width: $screen-md-max) {
          margin: 30px 0 0;
        }
        h3 {
          text-transform: uppercase;
          font-size: 14px;
          letter-spacing: 3px;
          margin-bottom: 5px;
        }
        p {
          margin: 0;
          font-size: 18px;
        }
        .about__container--random {
          img {
            width: 100px;
          }
        }

        ul.about__skills {
          list-style: none;
          padding: 0;
          display: flex;
          flex-flow: row wrap;
          justify-content: space-between;
          align-items: flex-start;
          li {
            position: relative;
            margin: 10px 10px 10px 0;
            display: flex;
            justify-content: center;
            align-items: center;
            &:first-child {
              margin-left: 0;
            }
            .about__skills--overlay {
              position: absolute;
              background-color: white;
              opacity: 0;
              width: 100%;
              height: 60px;
              border-radius: 50%;
              top: 0;
              display: flex;
              justify-content: center;
              align-items: center;

              transition: all 0.4s ease;
              .about__skill__name {
                font-size: 13px;
                text-align: center;
                font-weight: 500;
              }
              &:hover {
                opacity: 0.9;
              }
            }

            .about__skill__level{
              position: relative;
              img {
                width: 30px;
                position: absolute;
                top: 20%;
              }
            }
          }
        }
      }
    }
  }
}


// SKILL CIRCLE
.u-absoluteCenter {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}
.u-flexCenter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.u-offscreen {
  position: absolute;
  left: -999em;
}
.about__skill__level {
  position: absolute;
  top: 0;
  left: 0;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.about__skill__level :first-child {
  margin-bottom: 20px;
}
.progress {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}
.progress__meter,
.progress__value {
  fill: none;
}
.progress__meter {
  stroke: transparent;
}
.progress__value {
  stroke: $dark-grey;
  stroke-linecap: round;
}
// SKILL CIRCLE END


/************ AFTER setTimeout THE CONTENT SLIDES UP *************/
.go-up {
  top: 16vh !important;
  z-index: 0;
}
/************ END *************/

.btn--download {
  position: fixed;
  bottom: 60px;
  right: 60px;
  padding: 13px 35px;
  background-color: white;
  border: 2px solid $dark-grey;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: bold;
  transition: all .3s ease;
  @media(max-width: $screen-sm-max) {
    bottom: 20px;
    right: 20px;
  }
  &:hover {
    border: 0;
    color: white;
    background-color: $pink;
  }
}
