// COLORS
$light-blue: #C4ECEA;
$dark-grey: #444444;
$pink: #FFDCDC;
$peach: #FFEFE8;

$dark: #36384C;
$bordeaux: #613A43;
$antique-pink: #E3BAB3;

$powder-blue: #C4D4E0;
$nantucket-blue: #9AABB9;
$apricot: #F5C3B6;
$jasmine: #EECF8A;
$ink-blue: #193446;

//MEDIA QUERIES
$screen-lg-max:                1200px;
$screen-md-max:                991px;
$screen-sm-max:                768px;
$screen-xs-max:                450px;

* {
  font-family: 'Helvetica Neue', sans-serif;
  color: $dark-grey;
}

h1 {
  font-size: 64px;
}

h3 {
  font-size: 24px;
}

p {
  font-weight: 300;
  font-size: 18px;
  line-height: 1.5;
}

a {
  color: #444444;
  font-family: 'Helvetica Neue', sans-serif;
  text-decoration: none;
}
