<section class="product-detail">
  <article class="detail__intro">
    <h1>{{ $ctrl.item.title }}</h1>
    <img class="divider" ng-src="/assets/divider.svg" alt="">
    <p>{{ $ctrl.item.subtitle }}</p>
    <a ng-if="$ctrl.item.link" href="{{ $ctrl.item.link }}" target="_blank">
      {{ $ctrl.item.link_name }}
      <div class="hover-line"></div>
    </a>

  </article>
  <article class="detail__content">
    <img ng-src="{{ $ctrl.item.images.cover }}" alt="cover image">
    <div>
      <h3>{{ $ctrl.item.concept }}</h3>
      <p>{{ $ctrl.item.concept_description }}</p>
    </div>
    <img ng-src="{{ $ctrl.item.images.photo_1 }}" alt="">
    <img ng-src="{{ $ctrl.item.images.photo_2 }}" alt="">
    <div>
      <p>{{ $ctrl.item.description }}</p>
    </div>
    <img ng-src="{{ $ctrl.item.images.photo_1 }}" alt="">
    <img ng-src="{{ $ctrl.item.images.photo_2 }}" alt="">
    <div>
      <p>{{ $ctrl.item.description_1 }}</p>
      <p>{{ $ctrl.item.description_2 }}</p>
    </div>
    <img ng-src="{{ $ctrl.item.images.photo_2 }}" alt="">
    <div>
      <p>{{ $ctrl.item.description_3 }}</p>
    </div>
  </article>
  <article class="detail__nav">
    <div class="detail__nav--btn detail__nav--btn--prev" ng-click="$ctrl.prev()">
      <span>Prev</span>
      <p>{{ $ctrl.prevProjectTitle}}</p>
      <div class="detail__btn--overlay"></div>
    </div>
    <div class="detail__nav--btn detail__nav--btn--next" ng-click="$ctrl.next(item)">
      <span>Next</span>
      <p>{{ $ctrl.nextProjectTitle}}</p>
      <div class="detail__btn--overlay"></div>
    </div>
  </article>
</section>
