<section class="product-detail">
  <article class="detail-intro">
    <h1>{{ $ctrl.item.title }}</h1>
    <img class="divider" ng-src="/assets/divider.svg" alt="">
    <p>{{ $ctrl.item.subtitle }}</p>
    <a ng-if="$ctrl.item.link" href="{{ $ctrl.item.link }}" target="_blank">{{ $ctrl.item.link }}</a>
  </article>
  <article class="detail-content">
    <img ng-src="{{ $ctrl.item.images.cover }}" alt="cover image">
    <div class="text-block">
      <h3>{{ $ctrl.item.concept }}</h3>
      <p>{{ $ctrl.item.concept_description }}</p>
    </div>
    <img ng-src="{{ $ctrl.item.images.photo_1 }}" alt="">
    <img ng-src="{{ $ctrl.item.images.photo_2 }}" alt="">
    <div class="text-block">
      <p>{{ $ctrl.item.description }}</p>
    </div>
    <img ng-src="{{ $ctrl.item.images.photo_1 }}" alt="">
    <img ng-src="{{ $ctrl.item.images.photo_2 }}" alt="">
    <div class="text-block">
      <p>{{ $ctrl.item.description_1 }}</p>
      <p>{{ $ctrl.item.description_2 }}</p>
    </div>
    <img ng-src="{{ $ctrl.item.images.photo_2 }}" alt="">
    <div class="text-block">
      <p>{{ $ctrl.item.description_3 }}</p>
    </div>
  </article>
  <article class="detail-nav">
    <div ng-click="$ctrl.prev()">Prev</div>
    <div ng-click="$ctrl.next(item)">Next</div>
  </article>
</section>
