detail {
  display: block;
  padding: 0 140px 0 70px;
  .detail-intro {
    position: fixed;
    height: 100vh;
    width: 100%;
    left: 0;
    top: 0;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;

    background-color: white;
    h1 {
      margin-bottom: 30px;
    }
    .divider {
      margin: 0;
      margin-bottom: 30px;
    }
    p {
      width: 50%;
      text-align: center;
    }
  }
  .detail-content {
    position: relative;
    top: 75vh;
    background-color: rgba(255, 255, 255, 0.9);
  }
}
