@import "./../variables.scss";

detail {
  display: block;
  padding: 0 140px 0 70px;
  @media (max-width: $screen-md-max) {
    padding: 0;
  }
  .detail__intro {
    position: fixed;
    height: 100vh;
    width: 100vw;
    left: 0;
    top: 0;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;

    background-color: white;
    h1 {
      margin-bottom: 30px;
      @media (max-width: $screen-xs-max) {
        font-size: 30px;
      }
    }

    .divider {
      margin: 0;
      margin-bottom: 30px;
      @media (max-width: $screen-xs-max) {
        margin-bottom: 10px;
      }
    }

    p {
      width: 55%;
      text-align: center;
      @media (max-width: $screen-xs-max) {
        font-size: 14px;
      }
    }

    .hover-line {
      height: 2px;
      width: 0px;
      background-color: $dark-grey;
      margin: 0 auto;
      transform-origin: center;

      transition: all .3s ease;
    }

    a:hover .hover-line{
      width: 50px;
    }

  }
  .detail__content {
    position: relative;
    margin-top: 75vh;
    background-color: rgba(255, 255, 255, 0.9);
    padding-bottom: 50px;

    img {
      width: 100%;
    }

    h3 {
      margin-bottom: 0;
    }
  }
  .detail__nav {
    background-color: rgba(255, 255, 255, 0.9);
    position: relative;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding-top: 50px;
    @media(max-width: $screen-md-max) {
      padding-bottom: 60px;
    }
    .detail__nav--btn {
      position: relative;
      @media(max-width: $screen-md-max) {
        background-color: $peach;
        padding: 3px 20px;
        width: 300px;
      }
      @media(max-width: $screen-xs-max) {
        background-color: transparent;
        width: 49%;
        position: relative;
        padding: 0;
      }
      span {
        font-weight: normal;
        font-size: 14px;
        position: relative;
        z-index: 1;

        @media (max-width: $screen-xs-max) {
          position: relative;
          padding: 10px 50px;
          text-transform: uppercase;
          text-align: center;
          background-color: $peach;
          letter-spacing: 1px;
          font-weight: 500;
        }
      }
      p {
        font-size: 24px;
        width: 300px;
        font-weight: bold;
        margin: 0;
        position: relative;
        z-index: 1;

        @media (max-width: $screen-md-max) {
          width: initial;
        }
        @media (max-width: $screen-xs-max) {
          display: none;
        }
      }
    }
    .detail__nav--btn--prev {
      .detail__btn--overlay {
        background-color: $peach;
        width: 0;
        height: 110%;
        position: absolute;
        top: 0;
        transition: all .3s ease;
        @media (max-width: $screen-xs-max) {
          display: none;
        }
      }
      p, span {
        margin-left: 0;
        transition: all .3s ease;
      }
      &:hover {
        .detail__btn--overlay{
          width: 310px;
          @media (max-width: $screen-xs-max) {
            display: none;
          }
        }
        p, span {
          margin-left: -25px;
        }
      }
    }
    .detail__nav--btn--next {
      text-align: right;
      .detail__btn--overlay {
        background-color: $peach;
        width: 0;
        height: 110%;
        position: absolute;
        top: 0;
        transition: all .3s ease;
        @media (max-width: $screen-xs-max) {
          display: none;
        }
      }
      p, span {
        margin-right: 0;
        transition: all .3s ease;
      }

      &:hover {
        .detail__btn--overlay{
          width: 100%;
          @media (max-width: $screen-xs-max) {
            display: none;
          }
        }
        p, span {
          margin-right: -25px;
        }
      }
    }
  }
}
