projects-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: flex-start;
  padding: 0 170px 0 100px;
  margin-bottom: 40px;

  @media (max-width: $screen-md-max) {
    padding: 30px 60px;
    margin-top: 40px;
  }
  @media (max-width: $screen-xs-max) {
    padding: 0;
    margin-top: 40px;
  }

  item {
    position: relative;
    width: 31%;
    margin-bottom: 2%;
    @media (max-width: $screen-md-max) {
      width: 49%;
    }

    img {
      margin: 0;
      width: 100%;
      transition: margin .3s ease;
    }
    .item__teaser-caption {
      position: absolute;
      width: 90%;
      top: 0;
      left: 0;
      z-index: 1;
      opacity: 0;
      transition: all .3s ease;
      @media (max-width: $screen-sm-max) {
        display: none;
      }
      h2 {
        font-size: 44px;
        line-height: 1;
        color: #444444;
        margin-bottom: 0;
      }
      p {
        color: #444444;
      }
    }

    .item__white-overlay {
      background-color: rgba(255, 255, 255, 0.7);
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 102%;
      z-index: 0;
      opacity: 0;
      transition: all .3s;
      @media (max-width: $screen-sm-max) {
        display: none;
      }
    }

    .item__under-layer {
      position: absolute;
      left: 0;
      top: 0;
      z-index: -1;
      opacity: 0;
      transition: opacity .3s ease;
      @media (max-width: $screen-sm-max) {
        display: none;
      }
    }

  }
  item:hover {
    cursor: pointer;

  }
  item:hover .item__teaser-caption{
    top: -10px;
    left: -20px;
    opacity: 1;
    @media (max-width: $screen-xs-max) {
      top: 0;
      left: 0;
      opacity: 0;
    }
  }
  item:hover .item__white-overlay{
    opacity: 1;
    top: -10px;
    left: -10px;
    @media (max-width: $screen-xs-max) {
      top: 0;
      left: 0;
      opacity: 0;
    }
  }
  item:hover img{
    margin: -10px 0 0 -10px;
    @media (max-width: $screen-xs-max) {
      margin: 0;
    }
  }
  item:hover .item__under-layer{
    left: 10px;
    top: 10px;
    opacity: 1;
    @media (max-width: $screen-xs-max) {
      top: 0;
      left: 0;
      opacity: 0;
    }
  }
}
